<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="views">
    <script th:src="@{/js/main/user.js}"></script>
    <section class="page-section" id="portfolio">
        <div class="container">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">닉네임</th>
                    <td th:text="${data.nickname}">
                    </td>
                    <th scope="row">먹은 횟수</th>
                    <td th:text="${data.eatenCount}">
                    </td>
                </tr>
                <tr>
                    <th scope="row">ㅋㅋ</th>
                    <th:block th:each="entry : ${dateMap}">
                        <button th:value="${entry.key}" th:text="${entry.value}"></button>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</th:block>
</html>