<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="views">
    <script th:src="@{/js/main/user.js}"></script>

    <section class="page-section" id="portfolio">
        <div class="container">
            <table class="table table-bordered">
                <colgroup>
                    <col style="width: 15%">
                    <col style="width: 10%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                    <col style="width: 25%">
                </colgroup>
                <thead>
                <tr>
                    <th>닉네임</th>
                    <th>일지 갯수</th>
                    <th>최근 일지 작성 일시</th>
                    <th>가입 일시</th>
                    <th>최근 접속 일시</th>
                </tr>
                </thead>
                <tbody id="table">
                </tbody>
            </table>
        </div>
    </section>
</th:block>
</html>