<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="views">
    <script th:src="@{/js/main/user.js}"></script>
    <section class="w-full h-full px-4 py-4">
        <div class="text-lg font-semibold mb-4">유저 목록</div>
        <div class="overflow-x-auto">
            <table id="userTable" class="w-full table-auto border text-sm">
                <!-- 테이블 내용 -->
            </table>
        </div>
    </section>
</th:block>
</html>