<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerLayout">
    <!-- 헤더 -->
    <header class="w-full bg-white shadow-md py-2 px-4  flex flex-col md:flex-row justify-between items-center">
        <div class="flex items-justify gap-3  w-full">
            <img th:src="@{/images/common/logo.png}" class="main-logo w-10 h-[aspect-ratio]"/>
            <a class="text-xl font-bold flex items-center justify-center" href="/home">관리자 페이지</a>
            <p class="w-10 h-10"></p>
        </div>
        <nav class="flex gap-4 pt-3 md:pt-0 text-sm" th:if="${session.userId != null}">
            <a th:href="@{/admin/report/list}" class="hover:underline">미확인</a>
            <a th:href="@{/admin/user/list}" class="hover:underline">유저정보</a>
            <a th:href="@{/admin/community/post/list}" class="hover:underline">커뮤니티 게시글</a>
            <a th:href="@{/admin/logout}" class="hover:underline">로그아웃</a>
        </nav>
    </header>
</th:block>
</html>